In [1]:
import requests
import pandas as pd
import numpy as np

cvr_virk_url = 'http://distribution.virk.dk/cvr-permanent/virksomhed/_search'
cvr_prod_url = 'http://distribution.virk.dk/cvr-permanent/produktionsenhed/_search'

headers = {
    'Content-Type': 'application/json',
}

In [2]:
auth_bruger = ''
auth_pass = ''

In [21]:
query_body = {"_source": ["Vrvirksomhed.cvrNummer", "Vrvirksomhed.bibranche1.branchekode"],
        "query": {
            "bool": {
                "must": {
                    "exists": {
                        "field": "Vrvirksomhed.bibranche1.branchekode"
                    }
                }
            }
        },
         "from": 0,
         "size": 100 # Max 3000
        }

query = str(query_body).replace('\'', '\"')

In [ ]:
branchekode = []

In [3]:
query_body = {"_source": ["Vrvirksomhed.cvrNummer", "Vrvirksomhed.navne.navn", "Vrvirksomhed.navne.periode.gyldigTil", "Vrvirksomhed.beliggenhedsadresse", "Vrvirksomhed.bibranche1.branchekode", "Vrvirksomhed.bibranche1.branchetekst", "Vrvirksomhed.aarsbeskaeftigelse.intervalKodeAntalAnsatte", "Vrvirksomhed.aarsbeskaeftigelse.aar"],
        "query": {
            "bool": {
                "must": [
                    { "match": {"Vrvirksomhed.bibranche1.branchekode": "013000"}}
                ]
            }
        },
         "from": 0,
         "size": 100 # Max 3000
        }

query = str(query_body).replace('\'', '\"')

In [4]:
response = requests.post(cvr_virk_url, headers = headers, auth = (auth_bruger, auth_pass), data = query)

In [5]:
data_response = dict(response.json())

data = pd.json_normalize(data_response['hits']['hits'])

In [6]:
data

,_index,_type,_id,_score,_source.Vrvirksomhed.beliggenhedsadresse,_source.Vrvirksomhed.navne,_source.Vrvirksomhed.cvrNummer,_source.Vrvirksomhed.aarsbeskaeftigelse,_source.Vrvirksomhed.bibranche1
0,cvr-v-20200115,_doc,4001224430,6.753422,"[{'vejkode': 4945, 'fritekst': None, 'adresseI...",[{'navn': 'Gårdejer J...,87301850,"[{'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aa...","[{'branchetekst': 'Planteformering', 'branchek..."
1,cvr-v-20200115,_doc,4000946795,6.724280,"[{'vejkode': 3453, 'fritekst': None, 'adresseI...",[{'navn': 'SØNDERHO EL-FORRETNING V/WILLY MORG...,17734482,"[{'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aa...","[{'branchetekst': 'Planteformering', 'branchek..."
2,cvr-v-20200115,_doc,4001310627,6.724280,"[{'vejkode': 3063, 'fritekst': None, 'adresseI...",[{'navn': 'SJ Fragt v...,25973348,"[{'intervalKodeAntalAnsatte': 'ANTAL_20_49', '...",[{'branchetekst': 'Planteavl kombineret med hu...
3,cvr-v-20200115,_doc,4000949003,6.613964,"[{'vejkode': 7255, 'fritekst': None, 'adresseI...","[{'navn': 'OLE KJÆR MADSEN TØMMERFORRETNING', ...",17801899,"[{'intervalKodeAntalAnsatte': 'ANTAL_2_4', 'aa...",[{'branchetekst': 'Planteavl kombineret med hu...
4,cvr-v-20200115,_doc,4001388333,6.270799,"[{'vejkode': 3570, 'fritekst': None, 'adresseI...","[{'navn': 'Blomstergaarden I/S', 'periode': {'...",26836549,NaN,"[{'branchetekst': 'Planteformering', 'branchek..."
...,...,...,...,...,...,...,...,...,...
95,cvr-v-20200115,_doc,4001412238,6.243813,"[{'vejkode': 4245, 'fritekst': None, 'adresseI...","[{'navn': 'KARTOFFEL-KOMPAGNIET A/S', 'periode...",27236073,"[{'intervalKodeAntalAnsatte': 'ANTAL_20_49', '...",[{'branchetekst': 'Planteavl kombineret med hu...
96,cvr-v-20200115,_doc,4001496614,6.243813,"[{'vejkode': 417, 'fritekst': None, 'adresseId...","[{'navn': 'Berge Baarsgaard Hansen', 'periode'...",28252811,NaN,"[{'branchetekst': 'Planteformering', 'branchek..."
97,cvr-v-20200115,_doc,4000801343,6.243813,"[{'vejkode': 2825, 'fritekst': None, 'adresseI...",[{'navn': 'ABC OVERSÆTTELSER V...,10338484,"[{'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aa...",[{'branchetekst': 'Planteavl kombineret med hu...
98,cvr-v-20200115,_doc,4000856654,6.243813,"[{'vejkode': 6490, 'fritekst': None, 'adresseI...",[{'navn': 'Normat/Nordic Management And Tradev...,13285403,"[{'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aa...",[{'branchetekst': 'Planteavl kombineret med hu...
99,cvr-v-20200115,_doc,1562233,6.243813,"[{'vejkode': 4245, 'fritekst': None, 'adresseI...","[{'navn': 'GIVE KARTOFFELCENTRAL A/S', 'period...",53218210,"[{'intervalKodeAntalAnsatte': 'ANTAL_10_19', '...",[{'branchetekst': 'Planteavl kombineret med hu...

In [150]:
data.loc[95, "_source.Vrvirksomhed.aarsbeskaeftigelse"]

[{'intervalKodeAntalAnsatte': 'ANTAL_1_1', 'aar': 1999},
 {'intervalKodeAntalAnsatte': 'ANTAL_1_1', 'aar': 2000},
 {'intervalKodeAntalAnsatte': 'ANTAL_1_1', 'aar': 2001},
 {'intervalKodeAntalAnsatte': 'ANTAL_2_4', 'aar': 2002},
 {'intervalKodeAntalAnsatte': 'ANTAL_2_4', 'aar': 2003},
 {'intervalKodeAntalAnsatte': 'ANTAL_2_4', 'aar': 2004},
 {'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aar': 2005},
 {'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aar': 2006},
 {'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aar': 2007},
 {'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aar': 2011},
 {'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aar': 2012},
 {'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aar': 2013},
 {'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aar': 2014}]

In [151]:
exclude = ['_index', '_type', '_id', '_score']
data = data.loc[:, ~data.columns.isin(exclude)]

In [152]:
data

,_source.Vrvirksomhed.beliggenhedsadresse,_source.Vrvirksomhed.navne,_source.Vrvirksomhed.cvrNummer,_source.Vrvirksomhed.aarsbeskaeftigelse,_source.Vrvirksomhed.bibranche1
0,"[{'vejkode': 4945, 'fritekst': None, 'adresseI...",[{'navn': 'Gårdejer J...,87301850,"[{'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aa...","[{'branchetekst': 'Planteformering', 'branchek..."
1,"[{'vejkode': 3453, 'fritekst': None, 'adresseI...",[{'navn': 'SØNDERHO EL-FORRETNING V/WILLY MORG...,17734482,"[{'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aa...","[{'branchetekst': 'Planteformering', 'branchek..."
2,"[{'vejkode': 3063, 'fritekst': None, 'adresseI...",[{'navn': 'SJ Fragt v...,25973348,"[{'intervalKodeAntalAnsatte': 'ANTAL_20_49', '...",[{'branchetekst': 'Planteavl kombineret med hu...
3,"[{'vejkode': 7255, 'fritekst': None, 'adresseI...","[{'navn': 'OLE KJÆR MADSEN TØMMERFORRETNING', ...",17801899,"[{'intervalKodeAntalAnsatte': 'ANTAL_2_4', 'aa...",[{'branchetekst': 'Planteavl kombineret med hu...
4,"[{'vejkode': 3570, 'fritekst': None, 'adresseI...","[{'navn': 'Blomstergaarden I/S', 'periode': {'...",26836549,NaN,"[{'branchetekst': 'Planteformering', 'branchek..."
...,...,...,...,...,...
95,"[{'vejkode': 1960, 'fritekst': None, 'adresseI...","[{'navn': 'Leif Østergård Pedersen', 'periode'...",10551498,"[{'intervalKodeAntalAnsatte': 'ANTAL_1_1', 'aa...",[{'branchetekst': 'Planteavl kombineret med hu...
96,"[{'vejkode': 6490, 'fritekst': None, 'adresseI...",[{'navn': 'Normat/Nordic Management And Tradev...,13285403,"[{'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aa...",[{'branchetekst': 'Planteavl kombineret med hu...
97,"[{'vejkode': 2825, 'fritekst': None, 'adresseI...",[{'navn': 'ABC OVERSÆTTELSER V...,10338484,"[{'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aa...",[{'branchetekst': 'Planteavl kombineret med hu...
98,"[{'vejkode': 4245, 'fritekst': None, 'adresseI...","[{'navn': 'GIVE KARTOFFELCENTRAL A/S', 'period...",53218210,"[{'intervalKodeAntalAnsatte': 'ANTAL_10_19', '...",[{'branchetekst': 'Planteavl kombineret med hu...
99,"[{'vejkode': 4245, 'fritekst': None, 'adresseI...","[{'navn': 'KARTOFFEL-KOMPAGNIET A/S', 'periode...",27236073,"[{'intervalKodeAntalAnsatte': 'ANTAL_20_49', '...",[{'branchetekst': 'Planteavl kombineret med hu...

In [300]:
json_columns = ['_source.Vrvirksomhed.beliggenhedsadresse', '_source.Vrvirksomhed.navne', '_source.Vrvirksomhed.aarsbeskaeftigelse', '_source.Vrvirksomhed.bibranche1']

data_long = data.copy()
for column_name in json_columns:
    data_long = data_long.explode(column_name).reset_index(drop = True)

In [301]:
column_mapping = {'_source.Vrvirksomhed.beliggenhedsadresse': 'beliggenhedsadresse',
                 '_source.Vrvirksomhed.navne': 'navne',
                 '_source.Vrvirksomhed.aarsbeskaeftigelse': 'aarsbeskaeftigelse',
                 '_source.Vrvirksomhed.bibranche1': 'bibranche1'}

data_long = data_long.rename(columns = column_mapping)

In [302]:
data_long.loc[40,:]

beliggenhedsadresse               {'vejkode': 4945, 'fritekst': None, 'adresseId...
navne                             {'navn': 'Jens Hybertz Lassen', 'periode': {'g...
_source.Vrvirksomhed.cvrNummer                                             87301850
aarsbeskaeftigelse                {'intervalKodeAntalAnsatte': 'ANTAL_0_0', 'aar...
bibranche1                        {'branchetekst': 'Planteformering', 'brancheko...
Name: 40, dtype: object

In [303]:
data_long = data_long.dropna()

In [304]:

json_columns = ['beliggenhedsadresse', 'navne', 'aarsbeskaeftigelse', 'bibranche1']

for column_name in json_columns:
    column_data = pd.json_normalize(data_long[column_name]).add_prefix(column_name + "_")
    
    data_long = data_long.merge(column_data, left_index = True, right_index = True)

data_long = data_long.loc[:, ~data_long.columns.isin(json_columns)]
data_long = data_long.drop_duplicates().reset_index(drop = True)
data_long = data_long.fillna(np.nan)

In [305]:
data_long["navne_periode_aar"] = data_long['navne_periode.gyldigTil'].str.slice(stop=4).astype(float)
data_long["aarsbeskaeftigelse_aar"] = data_long["aarsbeskaeftigelse_aar"].astype(float)
data_long["beliggenhedsadresse_gyldigtil_aar"] = data_long['beliggenhedsadresse_kommune.periode.gyldigTil'].str.slice(stop=4).astype(float)
data_long["beliggenhedsadresse_gyldigfra_aar"] = data_long['beliggenhedsadresse_kommune.periode.gyldigFra'].str.slice(stop=4).astype(float)

In [306]:
data_long = data_long.loc[data_long["aarsbeskaeftigelse_aar"] < data_long["navne_periode_aar"], :]
data_long = data_long.loc[(data_long["aarsbeskaeftigelse_aar"] < data_long["beliggenhedsadresse_gyldigtil_aar"]) | (data_long["aarsbeskaeftigelse_aar"] >= data_long["beliggenhedsadresse_gyldigfra_aar"]), :]

In [307]:
data_long.head(10)

,_source.Vrvirksomhed.cvrNummer,beliggenhedsadresse_vejkode,beliggenhedsadresse_fritekst,beliggenhedsadresse_adresseId,beliggenhedsadresse_vejnavn,beliggenhedsadresse_bogstavTil,beliggenhedsadresse_conavn,beliggenhedsadresse_bogstavFra,beliggenhedsadresse_husnummerFra,beliggenhedsadresse_postboks,...,beliggenhedsadresse_kommune.periode.gyldigTil,navne_navn,navne_periode.gyldigTil,aarsbeskaeftigelse_intervalKodeAntalAnsatte,aarsbeskaeftigelse_aar,bibranche1_branchetekst,bibranche1_branchekode,navne_periode_aar,beliggenhedsadresse_gyldigtil_aar,beliggenhedsadresse_gyldigfra_aar
48,87301850,1016.0,NaN,0a3f50c6-c1b5-32b8-e044-0003ba298018,Milmosevej,NaN,NaN,NaN,7,NaN,...,NaN,Jens Hybertz Lassen,2020-09-12,ANTAL_0_0,2011.0,Planteformering,013000,2020.0,NaN,2007.0
49,87301850,1016.0,NaN,0a3f50c6-c1b5-32b8-e044-0003ba298018,Milmosevej,NaN,NaN,NaN,7,NaN,...,NaN,Jens Hybertz Lassen,2020-09-12,ANTAL_0_0,2012.0,Planteformering,013000,2020.0,NaN,2007.0
50,87301850,1016.0,NaN,0a3f50c6-c1b5-32b8-e044-0003ba298018,Milmosevej,NaN,NaN,NaN,7,NaN,...,NaN,Jens Hybertz Lassen,2020-09-12,ANTAL_0_0,2013.0,Planteformering,013000,2020.0,NaN,2007.0
51,87301850,1016.0,NaN,0a3f50c6-c1b5-32b8-e044-0003ba298018,Milmosevej,NaN,NaN,NaN,7,NaN,...,NaN,Jens Hybertz Lassen,2020-09-12,ANTAL_0_0,2014.0,Planteformering,013000,2020.0,NaN,2007.0
52,87301850,1016.0,NaN,0a3f50c6-c1b5-32b8-e044-0003ba298018,Milmosevej,NaN,NaN,NaN,7,NaN,...,NaN,Jens Hybertz Lassen,2020-09-12,ANTAL_0_0,2015.0,Planteformering,013000,2020.0,NaN,2007.0
53,87301850,1016.0,NaN,0a3f50c6-c1b5-32b8-e044-0003ba298018,Milmosevej,NaN,NaN,NaN,7,NaN,...,NaN,Jens Hybertz Lassen,2020-09-12,ANTAL_0_0,2016.0,Planteformering,013000,2020.0,NaN,2007.0
54,87301850,1016.0,NaN,0a3f50c6-c1b5-32b8-e044-0003ba298018,Milmosevej,NaN,NaN,NaN,7,NaN,...,NaN,Jens Hybertz Lassen,2020-09-12,ANTAL_0_0,2017.0,Planteformering,013000,2020.0,NaN,2007.0
55,87301850,1016.0,NaN,0a3f50c6-c1b5-32b8-e044-0003ba298018,Milmosevej,NaN,NaN,NaN,7,NaN,...,NaN,Jens Hybertz Lassen,2020-09-12,ANTAL_0_0,2018.0,Planteformering,013000,2020.0,NaN,2007.0
68,17734482,3453.0,NaN,NaN,Landevejen,NaN,NaN,NaN,91,NaN,...,NaN,SØNDERHO EL-FORRETNING V/WILLY MORGENSTERN,2015-06-30,ANTAL_0_0,2011.0,Planteformering,013000,2015.0,NaN,2007.0
69,17734482,3453.0,NaN,NaN,Landevejen,NaN,NaN,NaN,91,NaN,...,NaN,SØNDERHO EL-FORRETNING V/WILLY MORGENSTERN,2015-06-30,ANTAL_0_0,2012.0,Planteformering,013000,2015.0,NaN,2007.0